# Ignore Git-related files
.git
.gitignore

# Ignore data files
data/**.*
db/**.*

# Ignore databases
*.db
*.db-shm
*.db-wal
*.duckdb
*.duckdb.wal

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store